*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: inherit;
    transition: 0.2s ease-in-out;

}

button{
    border: none;
}